* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    background-color: black;
    color: silver;
}
header {
    display: flex;
    align-items: center;
    border-bottom: 3px ridge silver;
    margin-bottom: 2em;
}
header img {
    padding: 1em;
}
header h2 {
    font-size: 300%;
}
header h3 {
    font-size: 200%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagecarousel {
    position: relative;
}

.image {
    display: none;
}

.image:first-of-type {
    display: block;
}

.image img {
    border-radius: 10px;
}

.prev,
.next {
    position: absolute;
    font-size: 200%;
    color: deepskyblue;
    top: 50%;
    transform: translateY(-50%);
    transition: ease-in-out 300ms;
}

.prev {
    left: 15px;
}

.next {
    right: 15px
}

.prev:hover, .next:hover {
    background-color: black;
    color: gold;
    border-radius: 50vh;
    cursor: pointer;
}

.dots {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
    justify-content: center;
}

.dot {
    width: 47px;
    height: 7px;
    background-color: silver;
    border-radius: 5px;
}

.active {
    background-color: gold;
}

.fadeout {
    animation: fade 2000ms;
}

@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}

footer {
    padding: 2em 0;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px ridge silver;
    margin-top: 2em;
}

@media (max-width: 800px) {
    .image img {
        width: 100vw;
        height: auto;
        border-radius: 0;
    }
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header h2 {
        text-align: center;
        font-size: 200%;
    }
    header h3 {
        text-align: center;
        font-size: 150%;
    }
}